.container {
  padding: 0;
}



.top{
  overflow: hidden;
  min-height: 100vh;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 7vh;
  flex: 1;
  display: flex;
  background-image: url(background.png);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu{
  position:  absolute;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  text-decoration: underline;
  font-size: 2.5vh;
  flex: 1;
  display: flex;
  right: 50px;
  top: 50px;
  flex-direction: column;
  
}

.menu a{
  height: 50px;
}

.main {
  min-height: 200vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

}

.name{
  font-size:x-large;
}

.title {
  font-family: 'Press Start 2P', cursive;
  padding-left: 4rem;
}

.title,
.description {
  text-align: center;
}

.grid {
  display: flex;
  min-height: 100vh;
  padding-left: 40rem;
  flex-direction:column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.about{
  min-width:100%;
  background-image: url(background2.png);
}
